@import "tailwindcss";

@theme {
  --color-brand-50: #effefb;
  --color-brand-100: #c7fff4;
  --color-brand-200: #90ffeb;
  --color-brand-300: #51f7df;
  --color-brand-400: #1de4cd;
  --color-brand-500: #47B3A6;
  --color-brand-600: #3d9e93;
  --color-brand-700: #357f77;
  --color-brand-800: #2f6560;
  --color-brand-900: #2a534f;
  --color-brand-950: #143432;

  --font-family-sans: 'Inter', system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-sans);
}
